doctype html
html
    head
        title Typed Field Test
        link(rel='stylesheet', href='http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css')
        link(rel='stylesheet', href='../dist/jquery.flexforms.css')
        script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
        script(src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js')
        script(src='../dist/jquery.flexforms.js')
        script.
            $(function () {
                var keys = [
                    {
                        key: 'name',
                        label: 'Patient name',
                        type: 'text',
                        spec: {
                            default: 'Sample Name'
                        }
                    },
                    {
                        key: 'age',
                        label: 'Patient age',
                        type: 'number'
                    },
                    {
                        key: 'modality',
                        label: 'Modality',
                        type: 'select',
                        spec: {
                            options: ['MR', 'CT', 'PT', 'CR', 'XR']
                        }
                    },
                    {
                        key: 'birthday',
                        label: 'Birthday',
                        type: 'date'
                    }
                ];

                var filter = $('#filter')
                        .filtereditor({keys: keys})
                        .on('filterchange', function () {
                            var data = filter.filtereditor('option', 'filter');
                            var node = JSON.stringify(data, null, '  ');
                            $('#value').val(node);
                        });

                var properties = [
                    {type: 'text', key: 'name', caption: 'Your Name'},
                    {type: 'text', key: 'zip', caption: 'Zip Code', spec: { regex: /^\d{3}\-\d{4}$/, placeholder: '???-????' }},
                    {type: 'number', key: 'age', caption: 'Age', spec: { default: 40, min: 10, max: 100 } },
                    {type: 'select', spec: {options: ['Male', 'Female']}, key: 'sex', caption: 'Sex'},
                    {type: 'select', spec: {options: ['1', '2', '3'], valueType: 'number'}, key: 'floor', caption: 'Floor'},
                    {type: 'selectmultiple', spec: {options: ['10', '25', '13'], valueType: 'number'}, key: 'groups', caption: 'Groups'},
                    {type: 'selectmultiple', spec: {options: ['Banana', 'Apple', 'Grape']}, key: 'favorite', caption: 'Fruit'},
                    {type: 'checkboxgroup', spec: {options: ['Banana', 'Apple', 'Grape'], vertical: true}, key: 'favorite2', caption: 'Fruit'},
                    {type: 'date', key: 'birthday', caption: 'Birthday'},
                    {type: 'checkbox', key: 'enabled', caption: 'Enabled'},
                    {type: 'radio', key: 'agree', caption: 'Agreement', spec: {
                        options: ['yes:I agree', 'no:I disagree']
                    }},
                    {type: 'password', key: 'pass', caption: 'Password'},
                    {type: 'json', key: 'json', caption: 'Valid JSON'},
                    {type: 'list', key: 'array', caption: 'Array of numbers', spec: { elementType: 'number' }},
                    {type: 'form', key: 'form1', caption: 'Form', spec: {form: $('#templates .form1')}},
                    {type: 'list', key: 'form2', caption: 'Array of forms', spec: {
                        elementType: 'form', elementSpec: { form: $('#templates .form1') }
                    }},
                    {type: 'callback', key: 'callback', caption: 'Callback', spec: {
                        edit: function(data, cb) { var str = prompt('value?', data); setTimeout(function() { cb(str); }, 0)},
                        render: function(div, data) { div.text(data); }
                    }}
                ];
                var prop = $('#prop');
                prop.propertyeditor({properties: properties});
                prop.on('valuechange', function () {
                    var value = prop.propertyeditor('option', 'value');
                    $('#value').val(JSON.stringify(value));
                });

                $('#export_mongo').click(function() {
                    var data = filter.filtereditor('exportMongo');
                    $('#value').val(JSON.stringify(data, null, '  '));
                });
                $('#prop_disable').click(function () {
                    prop.propertyeditor('option', 'disabled', !prop.propertyeditor('option', 'disabled'));
                });
                $('#assign_filter').click(function () {
                    var str = $('#value').val();
                    filter.filtereditor('option', 'filter', JSON.parse(str));
                });
                $('#assign_property').click(function () {
                    var str = $('#value').val();
                    prop.propertyeditor('option', 'value', JSON.parse(str));
                });
            });
        style.
            body {
                background-color: #ffebe8;
            }

            #filter {
                width: 700px;
            }

            div.ui-datepicker {
                font-size: 12px;
            }

            #value {
                display: block;
                width: 500px;
            }

            .ui-propertyeditor-column {
                width: 500px;
            }
    body
        h1 Filter Editor Test
        #filter This is a filter editor!
        div
            button#export_mongo Export MongoDB Condition
        hr
        h1 Property Editor Test
        #prop This will be a prop editor!
        div
            button#prop_disable Disable/Enable
        hr
        textarea#value
        #templates(style='display: none')
            span.form1
                label First
                    input(name='first',size=5)
                label Second
                    input(name='second',size=5)
        div
            button#assign_filter Assign to Filter Editor
            button#assign_property Assign to Property Editor

